# complied JS no need keep
*/*.js
*.js

# ignore elm packages (local and sub directories)
*/elm-stuff/*
elm-stuff/*

# ignore package file (local and sub directories)
*/elm-package.json
elm-package.json
